.background {
    width: 34rem;
    border: solid 2px #4e7aa3;
    margin: auto;
    margin-top: 2rem;
    padding: 0.6rem 0.8rem;
}

.question {
    font-weight: bold;
}

.answerOption {
    margin-bottom: 1rem;
}

.btn {
    margin-left: 43%;
    justify-content: flex-end;
    align-items: center;
}

.btnSubmit {
    height: 2rem;
    width: 4.8rem;
    margin-top: 1rem;
    background-color: #5b9bd5;
    border-radius: 5px;
    border: solid 2px #385e8b;
    cursor: pointer;
    color: white;
}